<div ng-controller="treeCtrl" ng-init="valid=false">
    <div class="row-fluid">
        <div class="span2">
            <button class="btn btn-large btn-success btn-block" ng-disabled="treeForm.$invalid || tree[0].nodes.length == 0 || doNotDisturb()" type="button" ng-click="showMessage = true; init(); create([tree[0].root], tree[0].nodes);">
                СТАРТ
            </button>
            <div ng-show="showMessage" class="alert" ng-class="{'alert-success': errors.length == 0, 'alert-error': errors.length > 0}">
                <button ng-show="!doNotDisturb()" type="button" class="close" ng-click="showMessage = false;">&times;</button>
                Создано документов - {{created}} из {{must_be_created}}
                <br ng-show="errors.length > 0" />
                <ul class="unstyled">
                    <li ng-repeat="error in errors">
                        {{error}}
                    </li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
    <div class="tree">
        <ul class="unstyled">
            <li>
                <form name="treeForm">
                    <fieldset ng-show="!doNotDisturb()">
                        <div class="btn-group input-append control-group" ng-class="{error: treeForm.root.$invalid}">
                            <input type="text" name="root" class="input-small" placeholder="id родителя" ng-model="tree[0].root" ng-pattern="number" required>
                            <a class="btn" ng-click="add(tree[0])" href="#"><i class="icon-plus"></i></a>
                            <a class="btn" ng-click="delete(tree[0])" href="#" ng-show="tree[0].nodes.length > 0"><i
                                    class="icon-minus"></i></a>
                        </div>
                        <ul>
                            <li ng-repeat="data in tree[0].nodes" ng-include="'/assets/modules/DocFaker/js/app/partials/tree_item.html'"></li>
                        </ul>
                    </fieldset>
                </form>
            </li>
        </ul>
    </div>
</div>